.sidenav-card {
  background-color: rgba(255, 255, 255, 0);
  color: #4e9691;
  font-size: 36px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.007), 0 1px 1px 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0) !important;
  margin-top:-10%;
}

.whiteicons {
  color: white;
}

.full-width {
  width: 100%;
  color: white;
  font-size: 23px;
  padding-left: 2.4%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 69%;
}

.active .full-width {
  color: #4e9691;
  font-size: 23px;
}

.active .whiteicons {
  color: #4e9691;
}

.logout {
  padding: 8px;
  cursor:pointer;
}

.logout-expanded {
  margin-top: -1px;
  margin-bottom: -2px;
  cursor: pointer
}
