.schedule-field-body {
  color: #4c4c4c;
  font-size: 20px;
  padding-left: 14px;
  display: flex;
  margin-top: 8px;
}

.schedule-field-title {
  color: #383838;
  font-size: 18px;
  width: 145px;
  max-width: 145px;
  font-weight: 600;
  background-color: #9898985c;
  border-radius: 5px;
  border-width: 1.5px;
  border-style: dashed;
  padding: 6px;
  display: flex;
  justify-content: space-between;
}

.schedule-time {
  background-color: #ffab3a;
  font-size: 21px;
  width: 210px;
  max-width: 210px;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  padding-top: 9px;
  margin-left: 20px;
}

.schedule-field-title .mat-icon {
  font-size: 24.5px;
  cursor: pointer;
}

.schedule-time-remove-icon {
  text-align: center;
  padding: 6px;
  color: #ff3366;
  font-size: 30px;
  width: 50px;
  cursor: pointer;
}
